<div class="container">
  <hr>
  
<!--   
  <ng-container *ngIf="showForm"> -->
    <!-- Ticket form component -->
    <app-tickets-form  *ngIf="showForm" (ticketSubmit)="createTicket($event)" (formClosed)="toggleForm()"></app-tickets-form>
  <!-- </ng-container> -->
 
  <button class="btn btn-primary mt-4" (click)="toggleForm()" *ngIf="!showForm">
     Create New Ticket</button>
 

  <!-- Submitted tickets table -->
  <table class="table mt-4">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Date Created</th>
        <th scope="col">Last Activity</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets"  >
        <td><a routerLink="/ticket-details" (click)="selectTicket(ticket)">{{ ticket.id }}</a></td>
        <td>{{ ticket.name }}</td>
        <td>{{ ticket.dateCreated  | date : 'medium'  }}</td>
        <td>{{ ticket.lastActivity | date : 'medium'  }}</td>
        <td>{{ ticket.status }}</td>
      </tr>
    </tbody>
  </table>

  <!--Ticket details-->
  <app-ticket-details [ticket]="selectedTicket"></app-ticket-details>
</div>
<router-outlet></router-outlet>